<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title ? title:"Admin Home Page" %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"
      integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.datatables.net/v/bs4/dt-1.13.8/datatables.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body style="background-color: #ddd0c8">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand logo text-uppercase" href="/adminhome">ADMIN</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a id="nav-link" class="nav-link" aria-current="page" href="/adminhome"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adduser">Add User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminlogout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row my-4">
        <div class="col-lg-12">
          <% if (message) { %>
          <div
            class="alert alert-dismissible fade show alert-<%= message.type %>"
            role="alert"
          >
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
            <strong><%= message.message %></strong>
          </div>
          <% } %>
          <div class="table-responsive">
            <% if (users != '') { %>
            <table class="table table-striped text-center">
              <thead>
                <tr class="table-dark">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach((row,index) => { %>
                <tr class="align-middle">
                  <td><%= index %></td>
                  <td><%= row.name %></td>
                  <td><%= row.email %></td>
                  <td><%= row.phone %></td>
                  <td>
                    <a href="/edit/<%= row._id %>" class="text-success"
                      ><i class="fas fa-edit fa-lg mx-1"></i
                    ></a>
                    <a href="/delete/<%= row._id %>" class="text-danger"
                      ><i class="fas fa-trash fa-lg mx-1"></i
                    ></a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <% }else{ %>
            <h1 class="text-center text-secondary mt-5">
              No users found in the database
            </h1>

            <% } %>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js"
      integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.13.8/datatables.min.js"></script>
    <script>
      $(document).ready(function () {
        $("table").DataTable({
          order: [0, "desc"],
        });
      });
    </script>
  </body>
</html>
